name: Release Notification To Slack

on:
  workflow_dispatch:

jobs:
  get_release_notes:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Get latest release notes
        id: get_release_notes
        run: |
          release_info=$(curl -H "Accept: application/vnd.github.v3+json" https://api.github.com/repos/jaehwaa/github-actions/releases/latest)
          release_note=$(echo $release_info | jq -r '.body')
          modified_string=$(echo -n $release_note | sed 's/\r//g')
          
          echo "release_info"
          echo $release_info
          
          echo "release_note"
          echo $release_note
          
          echo $modified_string
          echo "release_notes=$modified_string" >> $GITHUB_OUTPUT

      - name: Slack Notification
        run: |
          MSG="{ \"text\": \"π€ μµμ‹  λ¦΄λ¦¬μ¤ λ…ΈνΈ: ${{ steps.get_release_notes.outputs.release_notes }}\" }"
          echo $MSG
#          curl -X POST -H 'Content-type: application/json' --data "${MSG}" "${{ secrets.slack_webhook_url }}"